* {
    --nyanza: #d6f9ddff;
    --light-green: #99f7abff;
    --onyx: #36393bff;
    --rosy-brown: #c49799ff;
    --pale-purple: #e8d7ffff;
}

body {
    background-color: #fdcfae;

    margin: 0;
    border: none;

    width: 100vw;
    height: 100vh;
}

* {

    color: --onyx;
}

.profileInfo {

    display: flex;
    gap: 60px;
}

.parent {
    padding: 20px;
}

button {
    outline: none;
    border: none;

    background-color: transparent;

    font-family: 'DM Serif Display', cursive !important;
    font-style: italic;
    font-size: 3rem;

    border: 3px solid black;
    border-radius: 10px;
    
    padding:0px;
    padding-left: 20px;
    padding-right: 20px;

    width: fit-content;
    height: fit-content;

    align-self:center;
}

img {
    margin-left: 18vw;
    margin-top: 20px;

    border: 3px solid #000;


    width: 15vw;
    height: 15vw;
    border-radius: 100%;
}

.profileData {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    margin-top: 30px;
}

.username {
    display: flex;
    gap: 90px;
}


.dataBar {
    display: flex;
    font-size: 1.3rem;
    width: 30vw;
    justify-content: space-between;
}

.dataBar>span {
    font-family: 'DM Serif Display', serif;
    font-style: italic;
}



.Score {
    margin-top: 20px;
    font-family: 'Abril Fatface', cursive;

    width: fit-content;

    padding: 7px;
    border-radius:9px;

    font-size: 1.5rem;
}

.Name {
    width: fit-content;

    padding: 5px;
    margin-left: 0px;

    font-size: 3.5rem;
    font-family: sans;
    font-weight: 580;

    border-bottom: #000 3px solid;

    font-family: 'Abril Fatface', cursive;
}

.Bio {
    margin-top: 10px;
    padding: 5px;

    height: 10vh;
    font-family: sans;

    border-radius: 5px;
    border: 1px solid #000;
    
    width: 30vw;
    word-spacing: 2px;
    font-family: 'Alice', serif;
    font-size: 1.3em;
}

h1 {
    text-align: center;
}
