.navBar {
    display: flex;
    width: 100vw;

    justify-content: space-between;
    align-items: center;
}


img {
    margin-left: 20px;
    margin-top: 20px;


    border: #000 4px solid;

    height: 11vw;
    border-radius: 100%;
}

.name {
    font-family: 'Abril Fatface', serif;
    font-size: 7rem;

    border-bottom: #000 4px solid;
}

.info {
    display: flex;
    flex-direction: column;
    margin-left: -10vw;
}

.username {
    padding: 8px;
    margin: 5px;

    font-size: 1.3rem;
    font-family: 'DM Serif Display' !important;

    text-align: center;

    background-color: var(--rosy-brown);
    color: white;
    width: fit-content;
    border: 3px solid black;
    border-radius: 10px;

    align-self: center;
}

.logout {
    background-color: var(--pale-purple);
    outline: none;
    border: none;
    margin: 15px;

    align-self: flex-start;
    font-family: 'DM Serif Display' !important;
    font-size: 1.3rem;

    border: 3px solid black;
    border-radius: 5px;
    padding: 3px;
}

.addQuiz {
    position: absolute;
    z-index: 2;

    top: 100vh;
    left: 100vw;


    transform: translate(-100%, -100%);
    margin: -20px;
    padding: 5px 0px;
    border: none;
    background-color: var(--rosy-brown);
    border: 3px solid black;
    border-radius: 20%;

    font-size: 2.5rem;
    width: 3.5rem;
}

.lookText {
    font-family: 'Bebas Neue';
    font-size: 1.5rem;
    letter-spacing: 2px;

    padding-left: 10vw;
    padding-top: 20px;
}

.feed {
    display: flex;
    flex-direction: column;
    height: 100vmax;
}

.quizCard {
    align-self: center;

    height: 60vh;
    width: 40vw;
    border: 2px solid black;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    
}

.quizTitle {
    font-family: 'DM Serif Display' !important;
    font-size: 4rem;
    border-bottom: 5px solid;
}

.nav>img {
    height: 15vh;
    width: 15vh;
    border: none;


    margin-left: 0px;
    margin-top: 0px;


}

.nav {
    margin: 20px;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border: 5px solid var(--onyx);
    border-radius: 20px;
}

.quizInfo{
    display: flex;
    justify-content: space-around;

    padding-top: 10px;
}

.quizInfo > div{
    font-family: 'Abril Fatface', cursive;
    font-size: 1.5rem;
}
.quizMetadata{
    position: relative;
    top:17vh;
    padding: 20px;

    background-color: var(--rosy-brown);
    margin:10px;
    border-radius:10px;
    border: 2px solid black;
    width: fit-content;
}

.topics,.tags{
    font-size: 2rem;
    font-family: 'Alice', serif;
}