* {
    margin: 0px;
    padding: 0px;
}

.namesContainer {
    background-color: #111;

    margin: 0px;
    padding: 0px;

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.signupText {

    font-family: monospace;
    font-size: 6.5rem;
    text-align: center;
    color: white;
}


.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    flex: 1 1 auto;
}

.imageContainer {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height: 90vh;
    width: fit-content;

}
.regContainer {
    width: 50vw;
    height: 100vh;
    border-left: 3px solid white;
}

button {
    border: none;
    border-radius: 20px;

    padding: 20px;

    font-size: 4rem;
    font-family: sans;
    font-weight: 1000;

    color: bisque;

    background: none;
}