* {
    --nyanza: #d6f9ddff;
    --light-green: #99f7abff;
    --onyx: #36393bff;
    --rosy-brown: #c49799ff;
    --pale-purple: #e8d7ffff;
    --background: #fdcfae;
}

body {
    background-color: #fdcfae;
    width: 100vw;
    height: 100vh;
    margin: 0;
    border: none;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.quiz {
    margin: 0;
    color: black;
    font-size: 7.5rem;
    font-weight: 100;
    font-family: 'Abril Fatface', cursive;
}

.navbar {
    width: 100vw;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container {
    flex: 1 0 0%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    align-self: center;
}

form {
    border: none;
    outline: none;
}

.login {

    font-family: 'Abril Fatface', cursive;
    padding: 4px 20px;
    margin-right: 10px;
    font-size: 2rem;
    font-weight: 900;
    border: 2px solid black;

    border-radius: 10px;
}

.button ,dialog > button{
    font-size: 3rem;
    text-align: center;
    font-family: 'Abril Fatface', cursive;

    color: white;
    border: 2px solid var(--rosy-brown);

    padding: 10px;
    border-radius: 5px;
}

input {
    text-align: center;
    padding-left: 10px;

    height: 4.5vh;
    margin-bottom: 10px;
    border: 3px solid #00000050;
    border-radius: 3px;
    width: 16vw;

    font-family: 'Roboto Mono', monospace;
    font-size: 1.2rem;
    font-weight: 900;
    outline: none;
}

.quizId {
    margin-top: 20px;
    background-color: var(--onyx);

    padding: 20px;
    width: 17vw;
    border-radius: 10px;
}

dialog {
    width: 17vw;
    border:none;
    border-radius:10px;

    transform: translate(20vw,-18vh);
    background-color:var(--onyx);

}
dialog > h1{
    font-size: 1.8rem;
    text-align:center;
    color:var(--rosy-brown);

    font-family: 'Abril Fatface', cursive;
}
dialog>button{
    font-size: 1.5rem;
    background-color:transparent;

}
#quiz{
    color:white;
}